<section class="ose game-license sidebar-info">
  <h4 class="divider">Old-School Essentials</h4>

  <ul class="unlist links">
    <li>
      <a href="https://necroticgnome.github.io/ose-foundry-core/" target="_blank">VTT Guide</a>
    </li>
    <li>
      <a href="https://oldschoolessentials.necroticgnome.com/srd" target="_blank">Rules</a>
    </li>
    <li>
      <a href="https://github.com/NecroticGnome/ose-foundry-core/issues" target="_blank">Issues</a>
    </li>
    <li>
      <a href="https://discord.gg/YprM5nq" target="_blank">Discord</a>
    </li>
  </ul>
</section>
